/* Add this to userConfig.component.scss */
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    margin-top: 10px;
}

.button{
    margin-bottom: 10px;
}