<div *ngIf="isAdmin" class="admin-container">
  <h2>Admin Configuration</h2>
  <!-- Admin specific configuration content goes here -->
  <p>Welcome, Admin! Here you can manage the system settings and users.</p>

  <!-- Search input for filtering users -->
  <div class="search-container">
    <input
      type="text"
      class="form-control"
      placeholder="Search users by first name, last name, or email"
      [(ngModel)]="searchTerm"
      (input)="filterUsers()"
    />
  </div>

  <!-- Display filtered users -->

  <div *ngFor="let user of filteredUsers">
    <ng-container *ngIf="user.id !== loggedInAdminId">
      <div class="user-container">
        <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone Number: {{ user.phoneNumber }}</p>
        <p>Role: {{ user.role }}</p>
        <!-- Display other user details as needed -->
        <button (click)="openEditModal(user)" class="edit-btn">Edit</button>
      </div>
    </ng-container>
  </div>

  <!-- Modal for editing user details -->
  <div class="modal" [class.open]="isModalOpen">
    <div *ngIf="isModalOpen && selectedUser" class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h2>Edit User</h2>
        <!-- Red close button -->
        <button class="close-btn" (click)="closeModal()">X</button>
      </div>
      <!-- User details -->
      <p>First Name: {{ selectedUser.firstName }}</p>
      <p>Last Name: {{ selectedUser.lastName }}</p>

      <!-- Buttons for updating and deleting user -->
      <button (click)="updateUserRole(selectedUser)" class="update-btn">
        Update role
      </button>
      <button (click)="deleteUser(selectedUser?.id)" class="delete-btn">
        Delete
      </button>
    </div>
  </div>
</div>

<div *ngIf="!!user && !isAdmin" class="container">
  <h2>User Configuration</h2>
  <form (ngSubmit)="updateUserDetails()" #userForm="ngForm" novalidate>
    <div class="form-row">
      <div class="form-group col">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="updateUser.firstName"
          name="firstName"
          required
        />
        <div
          *ngIf="
            userForm.controls['firstName'].invalid &&
            userForm.controls['firstName'].dirty
          "
          class="text-danger"
        >
          First Name is required.
        </div>
      </div>
      <div class="form-group col">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="updateUser.lastName"
          name="lastName"
          required
        />
        <div
          *ngIf="
            userForm.controls['lastName'].invalid &&
            userForm.controls['lastName'].dirty
          "
          class="text-danger"
        >
          Last Name is required.
        </div>
      </div>
      <div class="form-group col">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="updateUser.password"
          name="password"
          required
        />
        <div
          *ngIf="
            userForm.controls['password'].invalid &&
            userForm.controls['password'].dirty
          "
          class="text-danger"
        >
          Password is required.
        </div>
      </div>
      <div class="form-group col">
        <label for="phone">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          [(ngModel)]="updateUser.phoneNumber"
          name="phone"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      <div class="form-group col">
        <button
          type="button"
          class="btn btn-danger"
          (click)="confirmUserDelete()"
        >
          Delete user
        </button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="!user && !isAdmin">
  <p>Loading user data...</p>
</div>

<div *ngIf="!user && isAdmin">
  <p>Loading admin data...</p>
</div>
