<div class="footer">
  <div class="social-wrapper">
    <div class="social-links">
      <ul>
        <li>
          <a href="#" title="Instagram">
            <img src="assets/instagram.svg" alt="Instagram" />
          </a>
        </li>
        <li>
          <a href="#" title="Linkedin">
            <img src="assets/linkedin.svg" alt="Linkedin" />
          </a>
        </li>
        <li>
          <a href="#" title="Twitter">
            <img src="assets/twitter.svg" alt="Twitter" />
          </a>
        </li>
        <li>
          <a href="#" title="Youtube">
            <img src="assets/youtube.svg" alt="YouTube" />
          </a>
        </li>
        <li>
          <a href="#" title="GitHub">
            <img src="assets/github.svg" alt="GitHub" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <P class="p">© LibraryManagementSystem 2024, All rights reserved</P>
</div>
