<carousel [pauseOnFocus]="true">
  <slide>
    <img
      src="assets/book1.jpg"
      alt="First slide"
      style="display: block; width: 100%; height: 40%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Welcome to Our Bookstore</h3>
      <p>
        Explore a wide range of books from various genres and authors. Discover
        your next favorite book today!
      </p>
    </div>
  </slide>
  <slide>
    <img
      src="assets/book2.jpg"
      alt="Second slide"
      style="display: block; width: 100%; height: 40%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Book Recommendations</h3>
      <p>
        Not sure what to read next? Our staff can provide personalized
        recommendations based on your preferences.
      </p>
    </div>
  </slide>
  <slide>
    <img
      src="assets/book3.jpg"
      alt="Third slide"
      style="display: block; width: 100%; height: 40%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Join Our Community</h3>
      <p>
        Participate in our book clubs and events. Connect with fellow book
        lovers and authors.
      </p>
    </div>
  </slide>
</carousel>

<br />