.list-group-item:hover {
    transition: filter 0.1s ease; /* Add transition effect */
    filter: brightness(80%);
    /* Reduce brightness to make it slightly darker */
}
.form-select:hover{
    filter: brightness(95%);
}