<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [collapse]="isCollapsed"
    class="navbar-collapse"
    id="navbarNav"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/library"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Library</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-collapse justify-content-end">
    <!-- Conditional rendering of login/logout button -->
    <ng-container *ngIf="!isLoggedIn; else loggedIn">
      <button class="btn btn-outline-light mx-3" (click)="navigateToLoginPage()">Sign in</button>
    </ng-container>
    <ng-template #loggedIn>
      <button class="btn btn-outline-light mx-3" (click)="logout()">Sign out</button>
    </ng-template>
    <!-- End of conditional rendering -->
    <button class="btn btn-outline-light mx-3" (click)="navigateToSignUpPage()">Sign up</button>
  </div>
</nav>
