
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    align-items: end;
    font-size: 16px;
  }

.nav-item .nav-link.active {
    color: orange !important;
}

